.DS_Store
**/.DS_Store

node_modules/
dist/
coverage/
.turbo/
browsers/

.env
.env.*
!.env.example
!config/environments/*.env.example

artifacts/
playwright-report/
test-results/

*.log
npm-debug.log*

*.tsbuildinfo
*.mp4
recordings/
